body, html {
    margin: 0;
    padding: 0;
    background: #050505;
    color: #fff;
}

.site-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-img {
    width: 600px;
    height: auto;
}